<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<title>signup</title>
	<link rel="stylesheet" href="../css/main.css">
</head>
<body class="grad70" >
  <main class="container-flex-column ">
     <div class="container msg-end">
           <div class="row">
              <div class="col-xs-12">
                 <img src="../assets/img/logo.gif" alt="" class="img-responsive logo">

              </div>
              <div class="col-xs-12">
                 <img src="../assets/img/lyft.png" alt="" class="img-responsive logo">

              </div>       
        
              <div class="col-xs-12">
                 <img src="../assets/img/success.png" alt="" class="img-responsive logo">

              </div>
          </div>  
              
        
     </div>
  </main>
  
  <script type="text/javascript" src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script type="text/javascript" src="../js/signup-lyft-user.js"></script>
  <!--vuelve a llamr a la misma funcion app.js-->

</body>
</html>
