<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<title>signup</title>
	<link rel="stylesheet" href="../css/main.css">
   <link type="text/css" rel="stylesheet" href="../vendors/bootstrap/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
</head>
<body class="vh100 letter">
  <!--uso ancor par apoder usar href  -->
    <a href="register-lyft.html" type="button" class="btn btn-signup">
      <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
    </a>
    <form class="container-flex-column text-center">
       <h1 class="title">Sign Up</h1>
       <p>Unete Hack's</p>
       <div class="form-group">
          <select  class="selectpicker" data-width="fit" id="selectCity">
          </select>  
         <input type="text" name="txtNumeroPostal" id="txtNumeroPostal" class="" maxlength="11" placeholder="Celular">
       </div>
       <p> Te enviaremos un texto para verificar tu celular</p>
       <br>
       <a href="signup-lyft-lab.html" type="button" id="btnext" class="btn btn-final" disabled>Siguiente</a>
       <span class="glyphicon glyphicon-menu-rigth" aria-hidden="true"></span>
    </a>
   </form>

  <script type="text/javascript" src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/i18n/defaults-*.min.js"></script>
  <script type="text/javascript" src="../js/signup-lyft.js"></script>
  <!--vuelve a llamr a la misma funcion app.js-->

</body>
</html>
